@page
@model ProjetASI.Pages.Barman.IndexModel
@{
    ViewData["Title"] = "Commandes";
}

<div class="d-flex">
    <h1>Commandes</h1>
</div>
<br />


<div class="d-flex flex-rows">
    @foreach (var commande in @Model.commandes)
    {
        <div class="card mb-3" style="width: 18rem;">
            <h5 class="card-header">
                Commande N° @commande.ID
            </h5>
            <div class="card-body">
                <table class="table">
                  <thead>
                        <tr>
                         <th>Article</th>
                        <th>Quantité</th>    
                        </tr>
                  </thead>
                @foreach(var Article in commande.Articles)
                {<tr>
                    <td>@Article.article.nom</td> 
                    <td>@Article.quantite</td>
                        </tr>
                }
                </table>
            </div>

            <div class="p-2 ms-auto">
                <a href="#" class="btn btn-primary">Valider</a>
            </div>

            <div class="card-footer">
                <h6>Etat de la commande :</h6>
            </div>
        </div>

        
    }
</div>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/commandeHub")
        .build();

    connection.on("RecevoirCommandesEtArticles", (commande) => {
        // Afficher les commandes et les articles sur la page
        window.location.href = "/Barman";
    });

    connection.start();
</script>
