@page
@model ProjetASI.Pages.Barman.ReadyOrderModel
@{
    ViewData["Title"] = "Commandes";
}

<div class="d-flex">
    <h1>Commandes</h1>
</div>
<br />

@{
    var commandes = new List<dynamic>() {
        new { Numero = 1, Table = 2, Description = "Poulet braisé sur son nid des caviars accompagné des allocos à la grenouille" },
        new { Numero = 2, Table = 4, Description = "Steak frites avec sauce béarnaise" },
        new { Numero = 3, Table = 6, Description = "Poisson grillé avec riz safrané et légumes de saison" }
    };
}

<div class="d-flex flex-row">
    @foreach (var commande in commandes)
    {
        <div class="card mb-3" style="width: 18rem;">
            <h5 class="card-header">
                Table N° @commande.Numero
            </h5>
            <div class="card-body">
                
                <p class="card-text">@commande.Description</p>
            </div>

            <div class="p-2 ms-auto">
                <a href="#" class="btn btn-primary">Valider</a>
            </div>
        </div>
    }
</div>
