@page
@model ProjetASI.Pages.Cachier.EncaisserModel

@{
    ViewData["Title"] = "Les factures encaisées";
}
<div >
    <h5>Encaisser la commande @Model.commande.ID</h5>
</div>
<form class="form-group">
    <label> Somme a encaisser</label> <input type="number" id="somme"  value="0" min="0" max="@Model.commande.prix"/> <button class="btn-primary" onclick="">  Payer</button>
    <br /><br /><br />
    <label>Restant à payer: </label>
    <input type="submit" class="btn-primary" value="Valider l'encaissemnt"/>
</form>