@page
@model ProjetASI.Pages.Cachier.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Gestion Paiements</h1>


</p>
<form>
<table class="table">
    <thead>
        <tr>
            <th>
                Numéro de commande
            </th>
            <th>
                Numéro de la table
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var commande in Model.commandes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => commande.ID)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => commande.tableID)
                    </td>
            <td>

                        <a  asp-page="Encaisser" class="btn btn-primary" asp-route-id="@commande.ID">Payer</a>
               
            </td>
        </tr>
}
    </tbody>
</table>
</form>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/commandeHub")
        .build();

    connection.start().then(function () {
        console.log("La connexion à SignalR est établie!");
    }).catch(function (err) {
        console.error(err.toString());
    });
    connection.on("CommandeServie", function () {
        location.reload();
    });


</script>



