@page
@model ProjetASI.Pages.Cachier.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


</p>
<form>
<table class="table">
    <thead>
        <tr>
            <th>
                Numéro de commande
            </th>
            <th>
                Numéro de la table
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var commande in Model.commandes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => commande.ID)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => commande.tableID)
                    </td>
            <td>

                        <button type="submit" class="btn btn-primary">Payer</button>
               
            </td>
        </tr>
}
    </tbody>
</table>
</form>
