@page
@model EditModel
@{
    ViewData["Title"] = "Edit Arricle";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Article.nom">Nom de l'article'</label>
        <input asp-for="Article.nom" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Article.prixU">Prix Unitaire</label>
        <input asp-for="Article.prixU" class="form-control" value="@Model.Article.prixU"> </input>
    </div>
    <div class="form-group">
        <label asp-for="Article.quantite"></label>
        <input asp-for="Article.quantite" type="int" class="form-control" value="@Model.Article.quantite"></input>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>