@page
@model ProjetASI.Pages.Tables.IndexModel
@{
    <table class="table">
<thead>
<th>Numéro Table</th>

</thead>
<tbody>
            @foreach (var article in Model.Tables)
            {
                <tr>
                    <td>@article.ID</td>
                    
                   
                </tr>
            }

</tbody>
</table>
    <a asp-page="Create">Ajouter un nouvel Article</a>
}
